body {
    color: #5e5e5e;
    font: 13px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: -5px;
}

button.j-btn {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border: 1px solid #3169aa;
    border-color: rgba(46, 106, 182, 0.8);
    background: #408bd0;
    background: linear-gradient(to bottom, #62acde 0%, #4a8cca 100%);
    font-weight: 600;
}

button {
    color: #3778C7;
    padding: 7px 16px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 3px;
    background: #fff;
    background: #fff linear-gradient(to bottom, rgba(255, 255, 255, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    text-shadow: 0 1px 0 white;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    background-clip: padding-box;
    margin: 0 10px 0 0;
    text-decoration: none;
    outline: none;
}

input[type = 'text'].j-text {
    border-radius: 4px;
    border: 1px solid #bbb;
    border-bottom: 1px solid #dadada;
    padding: 6px 4px;
    transition: all;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    width: 100%;
    outline: none;
    font: 13px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#instafeed {
  text-align: center;
  overflow-y: scroll;
  height: 400px;
  background-color: gainsboro;
}

#instafeed .insta-photo {
  padding: 15px;
  margin-bottom: 15px;
}

#instafeed .caption, #instafeed .comments {
  text-align: left;
  margin-left: 90px;
  margin-top: 5px;
}

#instafeed span {
  font-weight: bold;
}

.faq-play, .faq-pause {
  cursor: pointer;
  padding: 10px;width: 30px;height: 30px;border-radius: 20px;background-color: rgba(0,0,0,0.2);

}

.faq-play {
  background-image: url(https://image.flaticon.com/icons/svg/109/109525.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 7px 5px;
}

.faq-pause {
  background-image: url(https://image.flaticon.com/icons/svg/70/70419.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

#instafeed *{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

#instafeed {
  /* height:100%;
  background-color:#dededf;
  background: linear-gradient(145deg, #03187c 10%, #750268 70%) no-repeat;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column; */
}

.window{
  width:280px;
  /* height:460px; */
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  margin: 0 auto !important;
}
.window .header{
  display:flex;
  align-items:flex-start;
  flex-direction: row;;
  padding:10px 10px;
  justify-content:space-between;
  background-color:#F9F9F9;
  box-shadow:0 2px 5px 0px #ddd;
}
.window .footer{
  display:flex;
  align-items:flex-end;
  padding:10px 10px;
  justify-content:space-between;
  background-color:#F9F9F9;
  box-shadow:0 -2px 5px 0px #ddd;
}
.window .footer img{
  opacity:0.2;
}
.window .footer img:first-child{
  opacity:1;
}
.window .content{
  display: flex;
  flex-direction: column;
  height:100%;
}
.content .post{
  display: flex;
  align-items:center;
  padding:5px 10px;
  justify-content:space-between;
}
.content .post *{
  padding:5px 0px;
}
.content .post .profile-img{
  border-radius:50%;
}
.content .post .name{
  display: flex;
  justify-content:flex-start;
  padding: 5px !important;
  position: relative;
}
.content .post .name p{
  padding-left:5px;
  font-weight:bold;
  font-size:0.8em;
  vertical-align: middle;
    line-height: 23px;
    margin-left: 5px;
}

.content .likes{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .likes *{
  padding:5px 5px;
}

.content .like-count {
  margin-bottom: 5px !important;
  margin-left: 5px !important;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.content .like-count p{
  font-size:0.7em;
  padding:5px;
  font-weight:bold;
}
